

body {
    font-size: 20px;
    color: #212529;
    font-family: 'Lora', 'Times New Roman', serif;
  }
  
  p {
    line-height: 1.5;
    margin: 30px 0;
  }
  
  p a {
    text-decoration: underline;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #212529;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

/* This is for the contact page */

input [type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Makes sure that padding and width stays in place */
  margin-top: 6px; /* Adds a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allows the user to vertically resize the textarea (not horizontally) */
}

/* FOOTER */
