

body {
    font-size: 20px;
    color: #212529;
    font-family: 'Lora', 'Times New Roman', serif;
  }
  
  p {
    line-height: 1.5;
    margin: 30px 0;
  }
  
  p a {
    text-decoration: underline;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #212529;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .gallery{
    margin: 15px;
  }
  .mb-3{
    position: relative;
    overflow: hidden;
  }
  .img-fluid{
    position: relative;
    max-width: 100%;
    transition: transform 2s;
    }
  
  .mb-3:hover .img-fluid{
    opacity: 0.8;
    transform: scale(1.2);
    
  }
  .mb-3:hover .details{
    transform: scaleY(1);
  }
  .details{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
  }
  
  .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
   }
  
  .details .content p{
    color: white;
  }
  
  ::selection {
    color: #fff;
    background: #0085A1;
    text-shadow: none;
  }
  
  img::selection {
    color: #fff;
    background: transparent;
  }
  
  img::-moz-selection {
    color: #fff;
    background: transparent;
  }
  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
/* This is for the contact page */

input [type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Makes sure that padding and width stays in place */
  margin-top: 6px; /* Adds a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allows the user to vertically resize the textarea (not horizontally) */
}

/* Submit button */
input [type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When mouse hovers, color change. */
input [type=submit] :hover {
  background-color: #45a049;
}

/* Background color and some padding around the form */
.container {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 20px;
}

/* FOOTER */
